@model TextumReader.WebUI.Models.DictionaryViewModel

@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading" style="padding: 7px;">
        @using (Html.BeginForm("ChangeDictionary", "Material", FormMethod.Post, new { role = "form" }))
        {
            @Html.DropDownList("DictionaryId", Model.Dictionaries, null, new { @class = "form-control", style = "height: 25px; padding: 0; margin: 0;" })
            @Html.HiddenFor(x => x.MaterialId)
            @Html.Hidden("currentPage", Model.PagingInfo.CurrentPage)
            @Html.Hidden("itemsPerPage", Model.PagingInfo.ItemsPerPage)
            @Html.Hidden("totalItems", Model.PagingInfo.TotalItems)
            <input type="submit" value="Submit" style="display: none;" />
        }
    </div>
    <div id="words" class="panel-body" style="overflow-y: auto;">
        <div class="list-group">
            @foreach (var d in Model.CurrentDictionary.Words)
            {
                <a href="#" class="list-group-item active">@d.WordName</a>
                foreach (var t in d.Translations)
                {
                    <a href="#" class="list-group-item">@t.Value</a>
                }
            }
        </div>
    </div>
</div>
