@model IEnumerable<TextumReader.ProblemDomain.Dictionary>
@{
    ViewBag.Title = "Textum Reader - Your dictionaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@section scripts
{
    <script>
        $((function () {
            $("form.confirmable").submit(function (e) {
                e.preventDefault();
                var currentForm = this;
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        currentForm.submit();
                    }
                });
            });

            $("table").tablesorter({ headers: { 2: { sorter: false }, } });
            $(".alert").fadeOut(3000);
        }));
    </script>
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success"><strong>@TempData["message"]</strong></div>
}
@if (TempData["alert"] != null)
{
    <div class="alert alert-danger"><strong>@TempData["alert"]</strong></div>
}
@if (!Model.Any())
{
    <div class="alert alert-info">You don't have any dictionary</div>
    <a style="margin-bottom: 20px;" class="btn btn-primary btn-sm" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add a dictionary</a>  
}
else
{
    <div class="row">
        <div class="col-md-12">
            <a style="margin-bottom: 20px;" class="btn btn-primary btn-sm" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add a dictionary</a>
            <table class="table table-striped table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Dictionary</th>
                        <th class="centered-column">Count</th>
                        <th class="centered-column">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(@m.Title, "WordList", new {dictionaryId = m.DictionaryId})</td>
                            <td class="centered-column" width="100">@m.Words.Count</td>
                            <td class="buttons centered-column" width="180">
                                @Html.ActionLink("Edit", "Edit", new { id = m.DictionaryId }, new { @class = "btn btn-primary btn-sm" })

                                @using (Html.BeginForm("Delete", "Dictionary", new { id = m.DictionaryId }, FormMethod.Post,
                                    new { style = "display:inline;", @class = "confirmable" }))
                                {
                                    <input type="submit" value="Delete" class="btn btn-primary btn-sm" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}