@model TextumReader.WebUI.Models.MaterialViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    @using (Html.BeginForm("Edit", "Material", FormMethod.Post, new {role = "form"}))
    {
        <div class="form-group">
            <label for="CategoryId">Category</label>
            @Html.DropDownListFor(x => x.CategoryId, (SelectList) ViewData["Categories"], new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ForeignText)
            @Html.TextAreaFor(x => x.ForeignText, new {@class = "form-control", style = "height: 400px;"})
        </div>

        <div class="form-group">
            <label for="InputLanguage">Input language</label>
            @Html.EnumDropDownListFor(m => m.InputLanguage, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label for="OutputLanguage">Output language</label>
            @Html.EnumDropDownListFor(m => m.OutputLanguage, new {@class = "form-control"})
        </div>
        @Html.HiddenFor(x => x.MaterialId)
        ;
        <input type="submit" value="Save" class="btn btn-default" />
    }
</div>