@model TextumReader.WebUI.Models.MaterialViewModel

@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9" id="article">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">@Model.Title</h4></div>
            <div id="text" class="word_split panel-body" style="min-height: 521px; text-align: justify;">@MvcHtmlString.Create(Model.ForeignText)</div>
        </div>
        <div style="text-align: center; vertical-align: middle;">
            <ul class="pagination" style="padding: 0; margin: 0">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Material", new { id = Model.MaterialId, page = x }), 9)
            </ul>
        </div>
    </div>
    
    <div class="col-md-3">
        @Html.Action("DictionaryInfo", Model)
    </div>
</div>

@{ Html.RenderPartial("_DialogPartial"); }


@section scripts
{
    <script>
        $(document).ready(function() {
            hideDialogWhenUserClicksOutside("#dialog");

            wrapAllWords(".word_split", "w");
            highlightWords("w", "lighted");
            submitFormAutomatically("#DictionaryId");

            var params =
            {
                getTranslationAction: '@Url.Action("GetTranslation")',
                addWordAction: '@Url.Action("AddWord", "Dictionary")',
                getSavedTranslationsAction: '@Url.Action("GetTranslations", "Dictionary")',
                dialogId: "#dialog",
                wordTagName: "w",
                translationTagName: "translation",
                dictionaryId: @Model.DictionaryId
            };

            setDialog(params);

            $("#words").height($('#text').height());
        });
    </script>
}