@model TextumReader.WebUI.Models.MaterialViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "words",
    };
}

<div class="row">
    <div class="col-md-9" id="article">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title</h3>
            </div>
            <div id="text" class="word_split panel-body" style="font-family: Verdana; min-height: 521px; text-align: justify;">@MvcHtmlString.Create(Model.Text)</div>
        </div>
        @if (Model.PagingInfo.TotalPages > 1)
        {
            <div style="text-align: center; vertical-align: middle;">
                <ul class="pagination" style="padding: 0; margin: 0 0 0 0">                
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Material", new {id = Model.MaterialId, page = x}), 8)
                </ul>
            </div>
        }
    </div>

    <div class="col-md-3 hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 7px;">
                @using (Ajax.BeginForm("ChangeDictionary", "Material", null, ajaxOpts, new {role = "form"}))
                {
                    @Html.DropDownList("DictionaryId", Model.AllDictionaries, new {@class = "form-control", style = "height: 25px; padding: 0; margin: 0;"})
                    @Html.HiddenFor(x => x.MaterialId)
                    <input type="submit" value="Submit" style="display: none;" />
                }
            </div>
            <div id="words" class="panel-body" style="overflow-y: auto;">
                @Html.Action("WordList", "Material", new {dictionaryId = Model.DictionaryId})
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_DialogPartial"); }


@section scripts
{
    <script>
        $(document).ready(function() {
            hideDialogWhenUserClicksOutside("#dialog");

            wrapAllWords(".word_split", "w");
            highlightWords("w", "lighted");
            submitFormAutomatically("#DictionaryId");

            var params =
            {
                getTranslationAction: '@Url.Action("GetTranslations")',
                addWordAction: '@Url.Action("AddWord", "Dictionary")',
                getSavedTranslationsAction: '@Url.Action("GetSavedTranslations", "Dictionary")',
                dialogId: "#dialog",
                wordTagName: "w",
                translationTagName: "translation",
                wordListAction: '@Url.Action("WordList")',
                inputLanguage: '@Model.InputLanguage',
                outputLanguage: '@Model.OutputLanguage'
            };

            var tp = new TranslationProcessing(params);
            tp.setUp();

            $("#words").height($('#text').height());
        });
    </script>
}